@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --background-color: white;
  --header-color: #352222;
  --header-font-color: white;
  --font-color: black;
  --font-color-accent: grey;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --font-color: white;
    --header-font-color: white;
    --font-color-accent: #aaa;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--font-color);
}

header {
  background-color: var(--header-color);
  color: var(--header-font-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
  margin: 0.5rem;
  font-weight: normal;
  margin-inline-start: 1rem;
}

header nav {
  display: flex;
}

header nav a {
  font-size: 1rem;
  padding: 1rem;
  transition: 0.1s all;
  font-weight: normal;
}

header nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

content {
  margin: 3rem auto;
  width: 100%;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  content {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  content {
    width: 50%;
  }
}

content article {
  margin: 2rem 0;
}

content article h1 {
  font-size: 1.5rem;
  margin: 0;
}

content article span {
  color: var(--font-color-accent);
}

footer {
  font-size: 0.75rem;
  color: var(--font-color-accent);
  text-align: center;
  vertical-align: bottom;
}
